@charset "UTF-8";
/* =========================
   GOLOS
   ========================= */
/* golos-tent-black */
@font-face {
  font-display: swap;
  font-family: "Golos Text";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/Golos/GolosText-Black.woff2") format("woff2");
}
/* golos-text-regular */
@font-face {
  font-display: swap;
  font-family: "Golos Text";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Golos/GolosText-Regular.woff2") format("woff2");
}
/* golos-text-medium */
@font-face {
  font-display: swap;
  font-family: "Golos Text";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Golos/GolosText-Medium.woff2") format("woff2");
}
/* golos-text-demibold */
@font-face {
  font-display: swap;
  font-family: "Golos Text";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Golos/GolosText-DemiBold.woff2") format("woff2");
}
/* golos-text-bold */
@font-face {
  font-display: swap;
  font-family: "Golos Text";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Golos/GolosText-Bold.woff2") format("woff2");
}
/* =========================
   GEOLOGICA
   ========================= */
/* geologica-light */
@font-face {
  font-display: swap;
  font-family: "Geologica";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Geologica/Geologica-Light.woff2") format("woff2");
}
/* geologica-regular */
@font-face {
  font-display: swap;
  font-family: "Geologica";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Geologica/Geologica-Regular.woff2") format("woff2");
}
/* geologica-medium */
@font-face {
  font-display: swap;
  font-family: "Geologica";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Geologica/Geologica-Medium.woff2") format("woff2");
}
/* geologica-semibold */
@font-face {
  font-display: swap;
  font-family: "Geologica";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Geologica/Geologica-SemiBold.woff2") format("woff2");
}
/* geologica-bold */
@font-face {
  font-display: swap;
  font-family: "Geologica";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Geologica/Geologica-Bold.woff2") format("woff2");
}
/* geologica-extrabold */
@font-face {
  font-display: swap;
  font-family: "Geologica";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/Geologica/Geologica-ExtraBold.woff2") format("woff2");
}
:root {
  --font-family: "Geologica", sans-serif;
  --second-family: "Golos", sans-serif;
  --white: #fff;
  --black-text: #434242;
  --grey-text: #5e5e5e;
  --black: #161a1d;
  --hover-menu: #868686;
  --yellow: #fed337;
  --bg-color: #040404;
  --text-color: #8b8b8b;
  --title-color: var(--white);
  --transition: all 0.3s ease-in-out;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
}

html *,
html *::before,
html *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  min-width: 320px;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--font-family);
  font-size: 14px;
  line-height: 1.3;
  font-weight: 300;
  margin: 0;
  position: relative;
  overflow-x: hidden;
  font-style: normal;
  max-width: 100%;
  width: 100%;
}

img {
  height: auto;
  max-width: 100%;
  display: block;
}

figure {
  margin-inline: 0;
}

h1:not([class]),
h2:not([class]),
h3:not([class]),
h4:not([class]),
h5:not([class]),
h6:not([class]) {
  color: var(--title-color);
  line-height: 1;
  font-weight: 600;
}

input,
textarea,
a,
select,
button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
}

input,
textarea {
  max-width: 100%;
  width: 100%;
}

a:not([class]) {
  font-family: inherit;
  font-style: inherit;
  color: var(--brand-color-1);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}
a:not([class]):hover {
  color: var(--accent-color-1);
}

address {
  font-style: normal;
  font-family: inherit;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

textarea {
  resize: none;
}

svg * {
  -webkit-transition-property: fill, stroke;
  transition-property: fill, stroke;
}

b:not([class]) {
  font-weight: 500;
  color: var(--dark);
}

table:not([class]) {
  border-collapse: collapse;
  border-spacing: 0;
  min-width: 100%;
}
table:not([class]) caption {
  caption-side: bottom;
}
table:not([class]) tr:nth-child(even) {
  background-color: rgba(176, 163, 147, 0.2);
}
table:not([class]) {
  /* Эффект при наведении на строку */
}
table:not([class]) tr {
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
table:not([class]) tr:hover {
  background-color: rgba(176, 163, 147, 0.4);
  cursor: pointer;
}
table:not([class]) {
  /* Для сохранения эффекта при наведении на четные строки */
}
table:not([class]) tr:nth-child(even):hover {
  background-color: rgba(176, 163, 147, 0.5);
}
table:not([class]) th {
  vertical-align: middle;
  text-align: left;
  padding: 1em 2em;
  border: 1px solid rgba(176, 163, 147, 0.2);
  background-color: rgba(176, 163, 147, 0.1);
  font-weight: 600;
}
table:not([class]) td {
  vertical-align: middle;
  padding: 1em 2em;
  border: 1px solid rgba(176, 163, 147, 0.2);
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.visually-hidden:not(:focus),
input[type=checkbox].visually-hidden,
input[type=radio].visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
  clip-path: inset(100%);
}

@media (min-width: 1380px) {
  .desktop-hide {
    display: none !important;
    padding: 0 !important;
    margin: 0 !important;
    max-width: initial !important;
  }
}

@media (min-width: 1024px) and (max-width: 1379px) {
  .laptop-hide {
    display: none !important;
    padding: 0 !important;
    margin: 0 !important;
    max-width: initial !important;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .tablet-hide {
    display: none !important;
    padding: 0 !important;
    margin: 0 !important;
    max-width: initial !important;
  }
}

@media (max-width: 767px) {
  .mobile-hide {
    display: none !important;
    padding: 0 !important;
    margin: 0 !important;
    max-width: initial !important;
  }
}

.list-reset {
  list-style: none;
  padding: 0;
  margin: 0;
}

.top-transform {
  margin-top: 0;
}
@media (min-width: 1651px) {
  .top-transform {
    margin-top: -128px;
  }
}

.hover-scale {
  -webkit-transition: scale 0.3s;
  transition: scale 0.3s;
}
.hover-scale:hover {
  scale: 1.02;
}

.move-to-right {
  margin-left: auto;
  margin-right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}
.move-to-right__content {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}

.tech-section {
  padding-top: 130px;
}

.simple-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -12px;
  margin-bottom: -12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.simple-flex__item {
  margin-right: 12px;
  margin-bottom: 12px;
}

.centered-content {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  margin: 0 auto;
}

.mg-reset {
  margin: 0 !important;
}

.wrapper {
  max-width: 1130px;
  width: 100%;
  padding-inline: 20px;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .wrapper {
    padding-inline: 10px;
  }
}

.list-group {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 42px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 16px;
}
@media (max-width: 1379px) {
  .list-group {
    gap: 32px;
  }
}
@media (max-width: 767px) {
  .list-group {
    grid-template-columns: 1fr;
    gap: 16px;
  }
}
.list-group__title {
  font-weight: 400;
  font-size: 14px;
  margin: 0;
  color: inherit;
  margin-bottom: 8px;
}

.beyond-scope {
  width: calc(100% + 70px);
  margin-inline: -35px;
  padding: 35px;
  border-radius: 32px;
  background: #272727;
  color: #8b8b8b;
}
@media (max-width: 1379px) {
  .beyond-scope {
    width: calc(100% + 40px);
    margin-inline: -20px;
  }
}
@media (max-width: 1023px) {
  .beyond-scope {
    width: 100%;
    margin: 0 !important;
  }
}
@media (max-width: 767px) {
  .beyond-scope {
    padding: 26px 15px 22px;
  }
}

.simple-list {
  padding: 0;
  list-style: none;
  margin: 0;
}
.simple-list__item {
  list-style: none;
}
.simple-list__item::before {
  content: url(../img/icon-list-bulet.svg);
  width: 8px;
  height: 8px;
  display: inline-block;
  margin-right: 6px;
}

.title {
  margin-top: 0;
  color: var(--title-color);
  font-weight: 600;
  font-size: 40px;
  line-height: 1;
}
@media (max-width: 1379px) {
  .title {
    font-size: 36px;
  }
}
@media (max-width: 1023px) {
  .title {
    font-size: 30px;
  }
}
@media (max-width: 767px) {
  .title {
    font-size: 24px;
  }
}
.title span {
  color: #ffd943;
}
.title.-big {
  font-size: 44px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1;
}
@media (max-width: 1379px) {
  .title.-big {
    font-size: 36px;
  }
}
@media (max-width: 1023px) {
  .title.-big {
    font-size: 30px;
  }
}
@media (max-width: 767px) {
  .title.-big {
    font-size: 24px;
  }
}

.subtitle {
  margin-top: 0;
  font-size: 20px;
  font-weight: 400;
}
@media (max-width: 1023px) {
  .subtitle {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  .subtitle {
    font-size: 16px;
  }
}

.button {
  background: #ffd943;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  color: #040404;
  border-radius: 12px;
  padding: 21px 30px;
  text-align: center;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  text-decoration: none;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  border: none;
}
@media (max-width: 767px) {
  .button {
    padding: 16px 20px;
    font-size: 14px;
  }
}
.button__icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
.button__icon path {
  -webkit-transition: var(--transition);
  transition: var(--transition);
}
.button:hover {
  background: #ffe47a;
}
.button:hover .button__icon path {
  fill: currentColor;
}
.button.-transparent {
  background-color: transparent;
  color: #ffd943;
  border: 1px solid #ffd943;
}
.button.-transparent:hover {
  background: #ffe47a;
  color: #040404;
  border: 1px solid #ffe47a;
}
.button.-small {
  padding: 16px 20px;
  font-size: 14px;
}
@media (max-width: 767px) {
  .button.-small {
    padding: 16px 20px;
    font-size: 14px;
  }
}

.button-close {
  background: #ffd943;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  text-align: center;
  color: #040404;
  border-radius: 50%;
  padding: 0;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  text-decoration: none;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  width: 48px;
  height: 48px;
  transition: var(--transition);
  border: none;
}
@media (max-width: 767px) {
  .button-close {
    width: 40px;
    height: 40px;
  }
}
.button-close:hover {
  background: #ffe47a;
}

.button-tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
  text-align: center;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  cursor: pointer;
  text-decoration: none;
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 16px;
  color: #fff;
  background: #272727;
  border-radius: 40px;
  padding: 14px 32px;
  border: 2px solid transparent;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.button-tab:hover {
  border: 2px solid #ffffff;
}
.button-tab.isActive {
  border: 2px solid #ffd943;
}

.button-menu {
  background: #ffd943;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  text-align: center;
  color: #040404;
  border-radius: 50%;
  padding: 0;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  text-decoration: none;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  width: 48px;
  height: 48px;
  transition: var(--transition);
  border: none;
}
@media (max-width: 767px) {
  .button-menu {
    width: 40px;
    height: 40px;
  }
}
.button-menu:hover {
  background: #ffe47a;
}

.phone {
  font-weight: 500;
  line-height: 1;
  text-decoration: none;
  color: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: var(--second-family);
}
.phone::before {
  content: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-right: 8px;
}

.social__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -12px;
  margin-bottom: -12px;
}
.social__item {
  margin-right: 12px;
  margin-bottom: 12px;
}
.social__link {
  text-decoration: none;
  cursor: pointer;
  width: 32px;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.link {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  text-align: center;
  color: #ffd943;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}
.link:hover {
  color: #ffe47a;
}

.time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-family: var(--second-family);
  font-weight: 400;
}
.time::before {
  content: url("../img/icon-clock.svg");
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-right: 8px;
}

.main-navigation__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -32px;
  margin-bottom: -16px;
}
.main-navigation__item {
  margin-right: 32px;
  margin-bottom: 16px;
}
.main-navigation__link {
  text-decoration: none;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  color: var(--white);
  font-weight: 400;
  font-size: 16px;
}
.main-navigation__link:hover {
  color: #ffd943;
}

.benefits-small__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(3, 1fr);
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}
@media (max-width: 767px) {
  .benefits-small__list {
    grid-template-columns: repeat(1, 1fr);
  }
}
.benefits-small__icon {
  width: 20px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 8px;
}
.benefits-small__title {
  display: block;
  margin: 0;
  font-weight: 600;
  margin-bottom: 4px;
}
.benefits-small__text {
  margin: 0;
  font-weight: 400;
  opacity: 0.7;
}

.decorate {
  position: absolute;
  z-index: -1;
  pointer-events: none;
  border-radius: 100%;
  -webkit-filter: blur(14rem);
          filter: blur(14rem);
  width: 40%;
  aspect-ratio: 1/1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(255, 217, 67, 0.3);
}
@media (max-width: 1379px) {
  .decorate {
    -webkit-filter: blur(13rem);
            filter: blur(13rem);
    width: 50%;
  }
}
@media (max-width: 1023px) {
  .decorate {
    width: 60%;
    -webkit-filter: blur(4rem);
            filter: blur(4rem);
  }
}
.decorate.-left {
  left: -5%;
}
@media (max-width: 1023px) {
  .decorate.-left {
    left: -8%;
  }
}
.decorate.-right {
  right: -5%;
}
.decorate.-top {
  top: -45%;
}
@media (max-width: 1379px) {
  .decorate.-top {
    top: 15%;
  }
}
@media (max-width: 1023px) {
  .decorate.-top {
    top: -25%;
  }
}
@media (max-width: 767px) {
  .decorate.-top {
    top: -7%;
  }
}

.copyright {
  color: #8b8b8b;
  margin: 0;
}

.basic-services-group + .basic-services-group {
  margin-top: 24px;
}
@media (max-width: 767px) {
  .basic-services-group + .basic-services-group {
    margin-top: 48px;
  }
}
.basic-services-group__grid {
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(3, 1fr);
}
@media (max-width: 1023px) {
  .basic-services-group__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 549px) {
  .basic-services-group__grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;
  }
}
.basic-services-group__grid .preview-card {
  max-width: 100%;
  width: 100%;
}
@media (min-width: 550px) {
  .basic-services-group__grid .preview-card {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 166px 1fr;
    min-height: 100%;
  }
}
@media (min-width: 550px) {
  .basic-services-group__grid .preview-card__photo {
    aspect-ratio: initial;
  }
}
.basic-services-group .preview-card-two,
.basic-services-group .preview-card {
  max-width: 100%;
  width: 100%;
}

.preview-card {
  max-width: 360px;
}
.preview-card__header {
  width: 100%;
}
.preview-card__photo {
  width: 100%;
  height: 100%;
  border-radius: 16px;
  overflow: hidden;
  aspect-ratio: 13/6;
}
.preview-card__photo img {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}
.preview-card__body {
  background: #040404;
  border-radius: 16px;
  padding: 20px;
  margin-top: 2px;
}
@media (max-width: 767px) {
  .preview-card__body {
    padding: 26px 15px 22px;
  }
}
.preview-card__title {
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--white);
}
.preview-card__price {
  margin: 0;
  line-height: 1;
  text-transform: uppercase;
  color: #ffd943;
  font-weight: 600;
  font-size: 20px;
  padding-left: 12px;
  border-left: 2px solid currentColor;
}
.preview-card__price b {
  font-weight: 400;
  font-size: 10px;
  display: block;
  margin-bottom: 4px;
}
.preview-card__description {
  margin: 0;
}
.preview-card__body-group {
  display: grid;
  gap: 16px;
  grid-template-columns: 1fr auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 16px;
}
@media (max-width: 767px) {
  .preview-card__body-group {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 549px) {
  .preview-card__body-group {
    grid-template-columns: 1fr auto;
  }
}
.preview-card__buttons {
  display: grid;
  gap: 16px;
  grid-template-columns: 1fr auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}
@media (max-width: 767px) {
  .preview-card__buttons {
    grid-template-columns: 1fr;
    max-width: 100%;
  }
}
@media (max-width: 767px) {
  .preview-card__buttons .button {
    width: 100%;
    max-width: 100% !important;
  }
}

.preview-card-two {
  max-width: 360px;
}
.preview-card-two__footer {
  width: 100%;
}
.preview-card-two__photo {
  width: 100%;
  height: 100%;
  border-radius: 16px;
  overflow: hidden;
  aspect-ratio: 180/83;
}
.preview-card-two__photo img {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}
.preview-card-two__body {
  background: #272727;
  border-radius: 16px;
  padding: 20px;
  margin-bottom: 2px;
  color: #8b8b8b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 767px) {
  .preview-card-two__body {
    padding: 26px 15px 22px;
  }
}
.preview-card-two__title-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.preview-card-two__title-group .card-label {
  margin-left: 24px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.preview-card-two__title {
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--white);
  text-transform: uppercase;
  font-weight: 800;
  margin-bottom: 12px;
}
.preview-card-two__price {
  margin: 0;
  line-height: 1;
  text-transform: uppercase;
  color: #ffd943;
  font-weight: 600;
  font-size: 20px;
  padding-left: 12px;
  border-left: 2px solid currentColor;
}
.preview-card-two__price b {
  font-weight: 400;
  font-size: 10px;
  display: block;
  margin-bottom: 4px;
}
.preview-card-two__description {
  margin: 0;
}
.preview-card-two__lead {
  margin: 0;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #fff;
  display: block;
  margin-bottom: 24px;
}
@media (max-width: 767px) {
  .preview-card-two__lead {
    margin-bottom: 12px;
  }
}
.preview-card-two__body .button {
  margin-top: auto;
}
.preview-card-two .preview-card-price {
  margin-bottom: 32px;
}
@media (max-width: 767px) {
  .preview-card-two .preview-card-price {
    margin-bottom: 16px;
  }
}
.preview-card-two .simple-list {
  margin-bottom: 50px;
}
@media (max-width: 767px) {
  .preview-card-two .simple-list {
    margin-bottom: 24px;
  }
}
.preview-card-two.-mod .preview-card-two__body {
  background-color: #fff;
  color: #8b8b8b;
}
.preview-card-two.-mod .preview-card-two__title {
  color: #040404;
}
.preview-card-two.-mod .preview-card-two__lead {
  color: #040404;
}
.preview-card-two.-mod .preview-card-price {
  color: #040404;
}
.preview-card-two.-mod .simple-list__item::before {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.preview-card-long {
  width: 100%;
  max-width: 100%;
}
.preview-card-long__body {
  display: grid;
  gap: 2px;
  grid-template-columns: 7fr 5fr;
  width: 100%;
}
@media (max-width: 767px) {
  .preview-card-long__body {
    grid-template-columns: 1fr;
  }
}
.preview-card-long__details {
  width: 100%;
  background: #040404;
  border-radius: 16px;
  padding: 20px;
  padding-bottom: 30px;
  padding-right: 120px;
}
@media (max-width: 1023px) {
  .preview-card-long__details {
    padding-right: 40px;
  }
}
@media (max-width: 767px) {
  .preview-card-long__details {
    padding: 16px;
  }
}
.preview-card-long__image {
  width: 100%;
  border-radius: 16px;
  overflow: hidden;
}
@media (max-width: 767px) {
  .preview-card-long__image {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    aspect-ratio: 13/6;
  }
}
.preview-card-long__image img {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}
.preview-card-long__title {
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--white);
  margin-bottom: 16px;
}
.preview-card-long__description {
  margin: 0;
  margin-bottom: 24px;
}
.preview-card-long__footer {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(3, auto);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}
@media (max-width: 1023px) {
  .preview-card-long__footer {
    grid-template-columns: repeat(2, auto);
  }
}
@media (max-width: 767px) {
  .preview-card-long__footer {
    grid-template-columns: 1fr;
    max-width: 100%;
  }
}
@media (max-width: 767px) {
  .preview-card-long__footer .button {
    width: 100%;
    max-width: 100% !important;
  }
}
@media (max-width: 1023px) {
  .preview-card-long__footer .preview-card-price {
    grid-column: span 2;
  }
}
@media (max-width: 767px) {
  .preview-card-long__footer .preview-card-price {
    grid-column: initial;
  }
}

.service-packages-group + .service-packages-group {
  margin-top: 24px;
}
@media (max-width: 767px) {
  .service-packages-group + .service-packages-group {
    margin-top: 16px;
  }
}
.service-packages-group .preview-card-two {
  max-width: 100%;
  width: 100%;
}
.service-packages-group__grid {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(3, 1fr);
}
@media (max-width: 1023px) {
  .service-packages-group__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 767px) {
  .service-packages-group__grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 48px;
  }
}
@media (max-width: 549px) {
  .service-packages-group__grid .preview-card-two {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 166px;
    min-height: 100%;
  }
  .service-packages-group__grid .preview-card-two__photo {
    aspect-ratio: initial;
  }
}

.preview-card-price {
  margin: 0;
  line-height: 1;
  text-transform: uppercase;
  color: #ffd943;
  font-weight: 600;
  font-size: 20px;
  padding-left: 12px;
  border-left: 2px solid currentColor;
  display: block;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}
@media (max-width: 767px) {
  .preview-card-price {
    grid-column: initial;
  }
}
.preview-card-price b {
  font-weight: 400;
  font-size: 10px;
  display: block;
  margin-bottom: 4px;
}

.card-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 10px;
  line-height: 120%;
  text-transform: uppercase;
  color: #ffd943;
  padding: 5px 10px;
  background: #040404;
  border-radius: 60px;
  min-height: 24px;
}

.buttons-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: -12px;
  margin-right: -12px;
}
.buttons-list__item {
  margin-bottom: 12px;
  margin-right: 12px;
}

.portfolio-preview-card {
  max-width: 360px;
  border-radius: 16px;
}
.portfolio-preview-card__link {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}
.portfolio-preview-card__header {
  width: 100%;
  margin-bottom: 2px;
}
.portfolio-preview-card__photo {
  border-radius: 16px;
  width: 100%;
  overflow: hidden;
  aspect-ratio: 180/113;
}
.portfolio-preview-card__photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.portfolio-preview-card__body {
  background: #272727;
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 14px;
  color: #8b8b8b;
  padding: 24px 20px 30px;
  border-radius: 16px;
}
@media (max-width: 767px) {
  .portfolio-preview-card__body {
    padding: 26px 15px 22px;
  }
}
.portfolio-preview-card__title {
  margin: 0;
  margin-bottom: 12px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  color: #fff;
}
.portfolio-preview-card__subtitle {
  display: block;
  margin: 0;
  margin-bottom: 12px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  color: #fff;
}
.portfolio-preview-card__text {
  margin: 0;
}
.portfolio-preview-card__album {
  display: none;
}

.info {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 14px;
  line-height: 130%;
  color: #8b8b8b;
  margin: 0;
  padding: 13px 11px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border: 1px solid #fff;
  border-radius: 16px;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.info::before {
  content: "";
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 12px;
  height: 12px;
  background-image: url(../img/icon-info.svg);
  background-repeat: no-repeat;
  margin-right: 12px;
  margin-left: 4px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-top: 3px;
}

.price-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  gap: 12px;
  grid-template-columns: 1fr;
}

.service-center-option {
  background-color: #040404;
  color: #8b8b8b;
  padding: 12px 21px;
  border-radius: 16px;
}
.service-center-option__grid {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 767px) {
  .service-center-option__grid {
    grid-template-columns: 1fr;
  }
}
.service-center-option__name {
  margin: 0;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  color: #fff;
}
.service-center-option__details {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
}

.section {
  margin-top: 120px;
  margin-bottom: 120px;
}
@media (max-width: 767px) {
  .section {
    margin-top: 64px;
    margin-bottom: 64px;
  }
}

.header {
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 10;
}
.header__body {
  width: 100%;
  max-width: 100%;
  padding: 20px;
  border: 2px solid #ffd943;
  border-top: 0;
  border-radius: 0 0 40px 40px;
  background: #040404;
  color: var(--white);
}
@media (max-width: 767px) {
  .header__body {
    padding: 14px 24px;
    border-radius: 0 0 32px 32px;
  }
}
.header__top {
  margin-bottom: 4px;
}
.header__top-grid {
  display: grid;
  gap: 32px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-template-columns: 1fr auto auto auto auto;
}
@media (max-width: 1379px) {
  .header__top-grid {
    grid-template-columns: 1fr auto auto;
    gap: 16px;
  }
}
.header__city {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-decoration: underline;
  font-family: var(--second-family);
  font-weight: 400;
}
.header__city::before {
  content: url("../img/icon-location-mark.svg");
  background-repeat: no-repeat;
  width: 14px;
  height: 16px;
  display: inline-block;
  margin-right: 8px;
}
.header__bottom-grid {
  display: grid;
  gap: 32px;
  grid-template-columns: auto 1fr auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1379px) {
  .header__bottom-grid {
    grid-template-columns: 1fr auto auto;
    gap: 16px;
  }
}
@media (max-width: 767px) {
  .header__bottom-grid {
    grid-template-columns: 1fr auto;
  }
}
.header__bottom-col.-nav {
  justify-self: flex-end;
}
.header__logo {
  max-width: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
}
@media (max-width: 767px) {
  .header__logo {
    max-width: 180px;
  }
}

.mobile-navigation {
  width: 100%;
  background-color: var(--bg-color);
  color: var(--white);
  z-index: 50;
  top: 0;
  position: fixed;
  width: 100%;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  right: 100%;
  max-height: 100%;
  overflow-y: auto;
}
.mobile-navigation__body {
  min-height: 100svh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.mobile-navigation__grid {
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(1, 1fr);
  padding-top: 64px;
  padding-bottom: 64px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 767px) {
  .mobile-navigation__grid {
    gap: 12px;
  }
}
.mobile-navigation .button-close {
  position: absolute;
  top: 16px;
  right: 32px;
}
@media (max-width: 767px) {
  .mobile-navigation .button-close {
    top: 10px;
    right: 10px;
  }
}
.mobile-navigation .main-navigation {
  margin-bottom: 32px;
}
@media (max-width: 767px) {
  .mobile-navigation .main-navigation {
    margin-bottom: 16px;
  }
}
.mobile-navigation .main-navigation__list {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(1, 1fr);
  margin: 0 auto;
}
@media (max-width: 767px) {
  .mobile-navigation .main-navigation__list {
    gap: 12px;
  }
}
.mobile-navigation .main-navigation__item {
  margin: 0;
  text-align: center;
}
.mobile-navigation .main-navigation__link {
  font-size: 32px;
}
@media (max-width: 767px) {
  .mobile-navigation .main-navigation__link {
    font-size: 22px;
  }
}
.mobile-navigation .phone {
  text-align: center;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  margin: 0 auto;
  font-size: 24px;
  opacity: 0.7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 767px) {
  .mobile-navigation .phone {
    font-size: 18px;
  }
}
.mobile-navigation .phone::before {
  scale: 1.5;
  margin-right: 16px;
}
.mobile-navigation .social {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  margin: 0 auto;
}
.mobile-navigation .time {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  margin: 0 auto;
  text-align: center;
  font-size: 24px;
  opacity: 0.7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 767px) {
  .mobile-navigation .time {
    font-size: 18px;
  }
}
.mobile-navigation .time::before {
  scale: 1.5;
  margin-right: 16px;
}

.hero {
  padding-top: 185px;
  padding-bottom: 120px;
  position: relative;
  color: var(--white);
}
@media (max-width: 767px) {
  .hero {
    padding-top: 125px;
    padding-bottom: 32px;
  }
}
.hero__grid {
  display: grid;
  gap: 32px;
  grid-template-columns: 8fr 4fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1379px) {
  .hero__grid {
    display: block;
    padding-right: 24%;
  }
}
@media (max-width: 1023px) {
  .hero__grid {
    display: block;
    padding-right: 10%;
  }
}
@media (max-width: 767px) {
  .hero__grid {
    padding: 0;
  }
}
.hero__image {
  position: absolute;
  height: 100%;
  width: auto;
  top: -25px;
  right: 120px;
  pointer-events: none;
}
@media (max-width: 1379px) {
  .hero__image {
    top: 25px;
    opacity: 0.5;
  }
}
@media (max-width: 1023px) {
  .hero__image {
    height: auto;
    right: 0;
    left: 0;
    top: 0;
    opacity: 0.3;
  }
}
@media (max-width: 1023px) {
  .hero__image img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.hero__col.-text {
  position: relative;
  z-index: 2;
}
.hero__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -24px;
  margin-bottom: -24px;
}
@media (max-width: 767px) {
  .hero__buttons {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(1, 1fr);
    margin: 0;
  }
}
.hero__buttons .button {
  margin-right: 24px;
  margin-bottom: 24px;
}
@media (max-width: 767px) {
  .hero__buttons .button {
    width: 100%;
    max-width: 100%;
    margin: 0;
  }
}
.hero__text {
  margin: 0;
  margin-top: 24px;
  margin-bottom: 40px;
  font-size: 12px;
  color: #8b8b8b;
}
@media (max-width: 1023px) {
  .hero__text {
    color: inherit;
    opacity: 0.7;
  }
}
.hero__text b {
  color: #ffd943;
}
.hero .subtitle {
  color: var(--title-color);
  margin-bottom: 32px;
}
@media (max-width: 767px) {
  .hero .subtitle {
    margin-bottom: 16px;
    opacity: 0.7;
  }
}
.hero .title {
  margin-bottom: 12px;
}
@media (max-width: 767px) {
  .hero .title {
    margin-bottom: 24px;
  }
}
.hero .benefits-small {
  color: inherit;
}

.basic-services__top {
  margin-bottom: 48px;
}
@media (max-width: 1023px) {
  .basic-services__top {
    margin-bottom: 32px;
  }
}
@media (max-width: 767px) {
  .basic-services__top {
    margin-bottom: 24px;
  }
}
.basic-services__top-grid {
  display: grid;
  gap: 32px;
  grid-template-columns: 4fr 5fr 3fr;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media (max-width: 1023px) {
  .basic-services__top-grid {
    grid-template-columns: 1fr auto;
    gap: 16px;
  }
}
@media (max-width: 767px) {
  .basic-services__top-grid {
    grid-template-columns: 1fr;
    gap: 16px;
  }
}
@media (max-width: 1023px) {
  .basic-services__top-col.-text {
    grid-row: span 2;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}
@media (max-width: 767px) {
  .basic-services__top-col.-text {
    grid-row: initial;
    -webkit-box-ordinal-group: initial;
        -ms-flex-order: initial;
            order: initial;
  }
}
.basic-services .title {
  max-width: 276px;
}
@media (max-width: 1023px) {
  .basic-services .title {
    max-width: 100%;
  }
}
.basic-services .button {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  margin-left: auto;
}
@media (max-width: 767px) {
  .basic-services .button {
    margin-left: 0;
  }
}
.basic-services__text {
  margin: 0;
  max-width: 430px;
  font-size: 20px;
}
@media (max-width: 767px) {
  .basic-services__text {
    font-size: 16px;
  }
}

.service-packages__top {
  margin-bottom: 48px;
}
@media (max-width: 1023px) {
  .service-packages__top {
    margin-bottom: 32px;
  }
}
@media (max-width: 767px) {
  .service-packages__top {
    margin-bottom: 24px;
  }
}
.service-packages__top .title {
  max-width: 260px;
}
@media (max-width: 1023px) {
  .service-packages__top .title {
    max-width: 100%;
  }
}
.service-packages__top .button {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  margin-left: auto;
}
@media (max-width: 767px) {
  .service-packages__top .button {
    margin-left: 0;
  }
}
.service-packages__top-grid {
  display: grid;
  gap: 32px;
  grid-template-columns: 4fr 5fr 3fr;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media (max-width: 1023px) {
  .service-packages__top-grid {
    grid-template-columns: 1fr auto;
    gap: 16px;
  }
}
@media (max-width: 767px) {
  .service-packages__top-grid {
    grid-template-columns: 1fr;
    gap: 16px;
  }
}
@media (max-width: 1023px) {
  .service-packages__top-col.-text {
    grid-row: span 2;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}
@media (max-width: 767px) {
  .service-packages__top-col.-text {
    grid-row: initial;
    -webkit-box-ordinal-group: initial;
        -ms-flex-order: initial;
            order: initial;
  }
}
.service-packages__text {
  margin: 0;
  max-width: 430px;
  font-size: 20px;
}
@media (max-width: 767px) {
  .service-packages__text {
    font-size: 16px;
  }
}

.mini-quiz__grid {
  display: grid;
  gap: 24px 32px;
  grid-template-columns: 4fr 8fr;
}
@media (max-width: 767px) {
  .mini-quiz__grid {
    grid-template-columns: 1fr;
  }
}

.portfolio-preview__filter {
  margin-bottom: 32px;
}
.portfolio-preview__slider .swiper {
  padding-bottom: 32px;
}
.portfolio-preview__slider .swiper-pagination-bullet {
  background: #ffffff;
}
.portfolio-preview__slider .swiper-pagination-bullet-active {
  background: #ffd943;
}
.portfolio-preview__slider .portfolio-preview-card {
  max-width: 100%;
  width: 100%;
}

.prices__top {
  margin-bottom: 46px;
}
@media (max-width: 767px) {
  .prices__top {
    margin: 0;
  }
}
.prices__top-grid {
  display: grid;
  gap: 16px 32px;
  grid-template-columns: 4fr 8fr;
}
@media (max-width: 1379px) {
  .prices__top-grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 767px) {
  .prices__top-grid {
    grid-template-columns: 1fr;
  }
}
.prices__body-grid {
  display: grid;
  gap: 16px 32px;
  grid-template-columns: 9fr 3fr;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media (max-width: 767px) {
  .prices__body-grid {
    grid-template-columns: 1fr;
  }
}
.prices__body-grid .info {
  max-width: 100%;
  width: 100%;
}
.prices__body-grid .price-list-button {
  margin-top: 48px;
}
@media (max-width: 767px) {
  .prices__body-grid .price-list-button {
    margin-top: 24px;
  }
}
@media (max-width: 767px) {
  .prices__body-col.-info {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}

.footer {
  padding-top: 50px;
  padding-bottom: 80px;
}
@media (max-width: 767px) {
  .footer {
    padding-top: 20px;
    padding-bottom: 40px;
  }
}
.footer__grid {
  display: grid;
  gap: 32px;
  grid-template-columns: 1fr auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 767px) {
  .footer__grid {
    gap: 16px;
    grid-template-columns: 1fr;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
}
.footer__contacts {
  display: grid;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  justify-self: flex-end;
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(2, auto);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 767px) {
  .footer__contacts {
    justify-self: center;
    grid-template-columns: 1fr;
    gap: 16px;
  }
}

.mini-quiz-form .quizle {
  background-color: transparent;
  margin: 0;
  padding: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.mini-quiz-form .quizle-contacts__agreement {
  margin-bottom: 12px;
}
.mini-quiz-form .quizle-contacts__agreement input[type=checkbox] {
  margin-right: 8px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.mini-quiz-form input[type=checkbox] {
  width: 32px;
  height: 32px;
  border-radius: 8px;
}
.mini-quiz-form input[type=radio] {
  width: 32px;
  height: 32px;
}
@media (max-width: 768px) {
  .mini-quiz-form input[type=radio] {
    width: 20px;
    height: 20px;
    margin-right: 4px;
  }
}
@media (max-width: 768px) {
  .mini-quiz-form .quizle--view-slides .quizle-footer {
    padding: 10px 0 20px;
    border-radius: 0 0 32px 32px;
    margin: 0 10px;
  }
}

.mobile-navigation-menu-open {
  overflow: hidden;
}
.mobile-navigation-menu-open .button-menu span {
  background-color: transparent !important;
}
.mobile-navigation-menu-open .button-menu span:after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 14px;
}
.mobile-navigation-menu-open .button-menu span:before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  width: 14px;
}
.mobile-navigation-menu-open .mobile-navigation {
  right: 0;
}/*# sourceMappingURL=main.css.map */