.portfolio-preview-card {
  max-width: 360px;
  border-radius: 16px;
  &__link {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
  }
  &__header {
    width: 100%;
    margin-bottom: 2px;
  }
  &__photo {
    border-radius: 16px;
    width: 100%;
    overflow: hidden;
    aspect-ratio: 180/113;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__body {
    background: #272727;
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 14px;
    color: #8b8b8b;
    padding: 24px 20px 30px;
    border-radius: 16px;
  }
  &__title {
    margin: 0;
    margin-bottom: 12px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    color: #fff;
  }
  &__subtitle {
    display: block;
    margin: 0;
    margin-bottom: 12px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    color: #fff;
  }
  &__text {
    margin: 0;
  }
  &__album {
    display: none;
  }
}
