.preview-card-two {
  max-width: 360px;
  &__footer {
    width: 100%;
  }

  &__photo {
    width: 100%;
    height: 100%;
    border-radius: 16px;
    overflow: hidden;
    aspect-ratio: 180/83;

    img {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
    }
  }

  &__body {
    background: #272727;
    border-radius: 16px;
    padding: 20px;
    margin-bottom: 2px;
    color: #8b8b8b;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (max-width: 767px) {
      padding: 16px;
    }
  }
  &__title-group {
    display: flex;
    align-items: flex-start;
    .card-label {
      margin-left: 24px;
      width: max-content;
    }
  }

  &__title {
    margin: 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--white);
    text-transform: uppercase;
    font-weight: 800;
    margin-bottom: 12px;
  }

  &__price {
    margin: 0;
    line-height: 1;
    text-transform: uppercase;
    color: #ffd943;
    font-weight: 600;
    font-size: 20px;
    padding-left: 12px;
    border-left: 2px solid currentColor;

    b {
      font-weight: 400;
      font-size: 10px;
      display: block;
      margin-bottom: 4px;
    }
  }

  &__description {
    margin: 0;
  }
  &__lead {
    margin: 0;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #fff;
    display: block;
    margin-bottom: 24px;
    @media (max-width: 767px) {
      margin-bottom: 12px;
    }
  }

  &__body .button {
    margin-top: auto;
  }

  .preview-card-price {
    margin-bottom: 32px;
    @media (max-width: 767px) {
      margin-bottom: 16px;
    }
  }

  .simple-list {
    margin-bottom: 50px;
    @media (max-width: 767px) {
      margin-bottom: 24px;
    }
  }

  &.-mod {
    .preview-card-two__body {
      background-color: #fff;
      color: #8b8b8b;
    }
    .preview-card-two__title {
      color: #040404;
    }
    .preview-card-two__lead {
      color: #040404;
    }
    .preview-card-price {
      color: #040404;
    }

    .simple-list__item::before {
      filter: invert(1);
    }
  }
}
