.mobile-navigation-menu-open {
  overflow: hidden;

  .button-menu span {
    background-color: transparent !important;
  }

  .button-menu span:after {
    transform: rotate(45deg);
    width: 14px;
  }

  .button-menu span:before {
    transform: rotate(-45deg);
    width: 14px;
  }

  .mobile-navigation {
    right: 0;
  }


}
